.boundaries > div {
  width: 280px;
  height: 280px;
  background: lavender;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boundaries > div > div {
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 16px;
}
