.wheel {
  width: 90vw;
  height: 50vh;
  border: 10px solid black;
  display: flex;
  align-items: stretch;
  font-size: 3em;
}

.wheel > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel > div:first-child {
  background: #000;
  color: #fff;
}
