.swipe > div:first-child {
  position: absolute;
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 16px;
}

.swipe > .grid {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}

.swipe > .grid > span {
  background: #00a9fa;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  margin: 135px;
}
