.dnd.flex-content > div {
  position: absolute;
  width: 320px;
  height: 40px;
  overflow: visible;
  border-radius: 4px;
  color: white;
  line-height: 40px;
  padding-left: 32px;
  background: steelblue;
  text-transform: uppercase;
}
