.clamp-bounce {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecede7;
  height: 100%;
}

.clamp-bounce > div {
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 16px;
}
